/* .keyboard { */
    /* makes the children elements to be aligned on 1 row */
    /* display: flex;            */
    /* makes the elements wrap to next line if there are not enough space */
    /* flex-wrap: wrap;          */
    /* makes the container takes up full width of its container */
    /* width: 100%;             */
/* } */



/* .button {
    width: calc(100% / 3);
    height: 50px;
    margin: 10px;
    background-color: lightblue;
    text-align: center;
    line-height: 50px;
} */

/* .operator {
    width: calc(100% / 4);
    height: 50px;
    margin: 10px;
    background-color: lightblue;
    text-align: center;
    line-height: 50px;
} */

/* @media only screen and (max-width: 800px) {
    .button {
      width: calc(100% / 2);
    }
} */

.row1, .row2, .row3 {
    display: block;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    /* padding: 20px 20px; */
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

.tab {
    cursor: pointer;
    border: 5px solid lightgray;
}

.tab-content {
    display: none;
}

.active {
    display: block;
}

.modal {
    display: none;      /* Hidden by default */
    position: fixed;    /* Hidden by default */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;     /* Enable scroll if needed */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }



